{
    "extends": "rallycoding",
    "rules": {
        "arrow-body-style": 0,
        "camelcase": 0,
        "global-require": 0,
        "max-len": "off",
        "no-nested-ternary": "off"
    }
}
